node_modules
package-lock.json
storage.json
test.js
uploads/*
static/miiImgs/*
static/miiQRs/*
static/privateMiiImgs/*
static/privateMiiQRs/*
static/temp/*
TODO.md
env.json
FFLResHigh.dat
testFiles
temp/*
feedback.txt
serveFeedback.js
migrate.js
erroringFiles/*

nonGitIgnoredTestFile
deprecatedStorage.json
