node_modules
package-lock.json
storage.json
test.js
uploads/*
static/miiImgs/*
static/miiQRs/*
static/privateMiiImgs/*
static/privateMiiQRs/*
static/miiQRsWii/*
static/privateMiiQRsWii/*
static/miiQRsTomodachi/*
static/privateMiiQRsTomodachi/*
# MT QR caches are temporarily disabled on the InfiniMii site.
static/miiQRsMiitopia/*
static/privateMiiQRsMiitopia/*
static/temp/*
TODO.md
env.json
FFLResHigh.dat
testFiles
temp/*
feedback.txt
serveFeedback.js
migrate.js
erroringFiles/*
logs/

nonGitIgnoredTestFile
deprecatedStorage.json
